<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h2> Admin Homepage</h2>
<a th:href="@{/viewUsers}">View All Users</a> |
<a th:href="@{/searchUsers}">Search for a specific User</a> |
<a th:href="@{/addCategoryPage}">Add a Category</a> |
<a th:href="@{/viewCategoryPage}">View all Categories</a> |
<a th:href="@{/addProductPage}">Add a Product</a> |
<a th:href="@{/ordersReports}">View all Orders placed</a> |
<a th:href="@{/ordersByDate}">View report of orders by Date</a> |
<a th:href="@{/ordersByCategory}">View report of orders by Category of the Products</a> |
<a th:href="@{/}">Logout</a> |
</body>
</html>