<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h2>Search a specific user with Email ID</h2>
<form action="#" th:action="@{/searchUsers}" th:object="${login}" method="post">
<label>EmailId</label>
<input type="email" th:field="*{emailid}"/><br/>
<input type="submit" value="Search"/>
</form>
<br/>
<span th:text="${msg}"></span>
<br/>
<a th:href = "@{adminHomepage}">Back</a>
</body>
</html>