<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

<table border="1">
	<tr>
		<th>Email ID</th>
		<th>Type of User</th>
		
	</tr>
	<tr th:each="tt:${login}">
		<td th:text="${tt.emailid}"></td>
		<td th:text="${tt.typeOfUser}"></td>
	</tr>
</table>
<br/>
<a th:href="@{/adminHomepage}">Back</a>
</body>
</html>